@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Main.cshtml";
}

<h2>Home Page</h2>
@{
    if (Request.IsAuthenticated)
    {
    <p>Welcome @User.Identity.GetUserName()</p>
    <a href="@Url.Action("Logout", "Account")">Logout</a>
    }
    else
    {
    <a href="@Url.Action("Login", "Account")">Login</a>   
    }
}
